.all {
    margin-top: 5% ;
    margin-left: 20%;
    width: 800px;
    height: 500px;
    border: solid 1px black;
}

.bar {
    height: 60px;
    background-color: gainsboro;
    text-align: right;
    padding-top: 30px;
    padding-right: 20px;
}

.content {
    padding: 30px;
}

.link {
    margin: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.selected {
    text-decoration: underline;
}

.product_list {
    color: red;
    text-decoration: none;
    font-weight: 500;
}